Lists

In [14]:
#take the list
h1 = [ 1,2,3,4,5,6,7,8,9,10]

#print the list
print("The List : ",h1)

The List :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
#take the list
h2 = [ 1,2,3,4,5,6,7,8,9,10]

#intiatialize a for length of the list
count  = 0

#start a loop to count the length of list
for _ in h2:
  count = count + 1

#print the length of list
print("The length of list is :",count)

The length of list is : 10

In [19]:
#take the list
h3 = [ 1,2,3,4,5,6,7,8,9,10]

#add the new element
h3.append(11)

#print the list
print("the upadated list :",h3)

the upadated list : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [21]:
#take the list
h4 = [ 1,2,3,4,6,7,8,9,10]

#insert the element
h4.insert(4,5)

#print the list
print("the updated list : ",h4)

the updated list :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
#take a list
h5 = [1,2,3,4,5]

#remove the element by it's value
h5.remove(3)

#print the updated list
print("the updated list : ",h5)

the updated list :  [1, 2, 4, 5]

In [35]:
#take a list
h6 = ["Hello","Hi","Hey","Welcome","Good","early"]

#remove the element by it's index
h6.pop(3)

#print the updated list
print("the updated list : ",h6)

the updated list :  ['Hello', 'Hi', 'Hey', 'Good', 'early']

In [38]:
#take a list
h7 = ["Hello","Hi","Hey","Welcome","Good","early"]

#the element to check
element_to_check = "Hi"

#start a if-else statement to check if the element is in the list or not
if element_to_check in h7 :
  print(f" '{element_to_check}' is in the list")

else:
  print(f" '{element_to_check}' is not in the list")

 'Hi' is in the list

In [39]:
#take a list
h8 = ["Hello","Hi","Hey","Welcome","Good","early","Hi","Down","Up"]

#element to find
element_to_find = "Hi"

#print the index of element
print(f"The '{element_to_find}' is first occured in the list at index :",h8.index(element_to_find))

The 'Hi' is first occured in the list at index : 1

In [41]:
#take a list
h9 = ["Hello","Hi","Hey","Welcome","Good","early","Hi","Down","Up"]

occurences = "Hi"

#print the index of element
print(f"The '{occurences}' is occured in the list :",h9.count(occurences),"Times")

The 'Hi' is occured in the list : 2 Times

In [49]:
#take a list
h10 = [1,2,3,4,5,6,7,8,9]

#reverse the list
h10.reverse()

#print the reversed list
print("the reversed list :",h10)

the reversed list : [9, 8, 7, 6, 5, 4, 3, 2, 1]

In [59]:
#take a list
h11 = [23,1,45,67,100,3000,56,4,45,6,89,7]

#sort the list
h11.sort()

#print the sorted list
print("the ascending order list :",h11)

the ascending order list : [1, 4, 6, 7, 23, 45, 45, 56, 67, 89, 100, 3000]

In [60]:
#take a list
h11 = [23,1,45,67,100,3000,56,4,45,6,89,7]

#sort the list
h11.sort(reverse=True)

#print the sorted list
print("the descending order list :",h11)

the descending order list : [3000, 100, 89, 67, 56, 45, 45, 23, 7, 6, 4, 1]

In [62]:
#take a empty list
even_numbers = []

#apply range function to find the even numbers in the range of 1 to 20
for i in range(1,21):
  if i % 2 == 0:
    even_numbers.append(i)

#print the list of even numbers
print("the list of even numbers from 1 to 20 :",even_numbers)

the list of even numbers from 1 to 20 : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [65]:
#take a empty list
even_numbers = []

#apply range function to find the odd numbers in the range of 1 to 20
for i in range(1,20):
  if i % 2 != 0:
    even_numbers.append(i)

#print the list of odd numbers
print("the list of odd numbers from 1 to 20 :",even_numbers)

the list of odd numbers from 1 to 20 : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [69]:
#take a list
h12 = [23,1,45,67,100,3000,56,4,45,6,89,7]

#print the sum of elements inthe list
print("the sum of all elements in the list :",sum(h12))

the sum of all elements in the list : 3443

In [72]:
#take a list
h13 = [23,1,45,67,100,3000,56,4,45,6,89,7]

#print the maximum value in the list
print("the maximum value in the list :",max(h13))

the maximum value in the list : 3000

In [73]:
#take a list
h14 = [23,1,45,67,100,3000,56,4,45,6,89,7]

#print the minimum value in the list
print("the minimum value in the list :",min(h12))

the minimum value in the list : 1

In [74]:
#take a empty list
sq = []

#use range function to make a list of squares in the range
for i in range(1,11):
  square = i**2
  sq.append(square)

#print the list of squares
print("the list of squared from 1 to 10",sq)

the list of squared from 1 to 10 [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [78]:
import random

#take a empty list
random_numbers = []

#create a list of 10 random numbers between 1 and 100
for _ in range(10):
    random_number = random.randint(1, 100)
    random_numbers.append(random_number)

print("List of random numbers:", random_numbers)

List of random numbers: [13, 100, 89, 60, 51, 25, 46, 65, 37, 40]

In [81]:
#take a list
h15 = [23,1,45,7,4,23,56,67,100,3000,56,4,1,45,6,89,1,7]

#remove the duplicates from the list
h16 = list(set(h15))

#print the list
print("the list after removal of duplicates : ",h16)

the list after removal of duplicates :  [1, 67, 4, 100, 6, 7, 45, 3000, 23, 56, 89]

In [82]:
#take the lists
list1 = [1,2,3,4,5,6,7]
list2 = [5,7,90,1,2,56,78]

#find the common elements in the lists
common_e = list(set(list1).intersection(set(list2)))

#print the common elements
print("the common elements in list1 and list2 are :",common_e)

the common elements in list1 and list2 are : [1, 2, 5, 7]

In [83]:
#take the lists
list1 = [1,2,3,4,5,6,7]
list2 = [5,7,90,1,2,56,78]

#find the different elements in the lists
differ_e = list(set(list1).difference(set(list2)))

#print the different elements
print("the different elements in list1 and list2 are :",differ_e)

the common elements in list1 and list2 are : [3, 4, 6]

In [84]:
#take the lists
list1 = [1,2,3,4,5,6,7]
list2 = [5,7,90,1,2,56,78]

#merge the 2 lists
m_list = list1 + list2

#print the merged list
print("the merged list : ",m_list)

the merged list :  [1, 2, 3, 4, 5, 6, 7, 5, 7, 90, 1, 2, 56, 78]

In [86]:
#take the list
list1 = [1,2,3,4,5,6,7]

for i in range(len(list1)):
  list1[i] *= 2

#print the multiplied list
print("the list after multiplying by 2 : ",list1)

the list after multiplying by 2 :  [2, 4, 6, 8, 10, 12, 14]

In [95]:
#take the list
list1 = [1,2,3,4,5,6,7]

#take a empty list
list_odd = []

#create a for loop to filter out the even numbers
for i in list1:
  if i % 2 != 0:
    list_odd.append(i)

#print the list of odd numbers
print("the list of even numbers : ",list_odd)

the list of even numbers :  [1, 3, 5, 7]

In [4]:
#Take String list of integers
String_list = ["1","2","3","4","5","6","7"]

#Take a empty list
int_list = []

#convert the strings into integers
for i in String_list:
  int_list.append(int(i))

#print the integer list
print("the integer list : ",int_list)

the integer list :  [1, 2, 3, 4, 5, 6, 7]

In [6]:
#Take a list of integer
int_list= [1,2,3,4,5,6,7]

#take a empty list
String_list = []

#convert the string of integers into strings
for i in int_list:
  String_list.append(str(i))

#print the list of strings
print("the String list : ",String_list)

the String list :  ['1', '2', '3', '4', '5', '6', '7']

In [7]:
#create a function to flatten a nested list
def flatten(nested_list):

#create a empty list
  flattened_list = []

#start a loop to collect items
  for item in nested_list:

#give the if-else condition
    if isinstance(item,list):

      flattened_list.extend(flatten(item))

    else:

      flattened_list.append(item)

  return flattened_list

#take a nested list
nested_list = [1, [2, 3, [4, 5]], 6, [7, 8]]

#apply the function 'flatten' to nested list
flat_list = flatten(nested_list)

#print the flattened list
print("the flattened list : ",flat_list)

the flattened list :  [1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
#generate a function to count fibonacci numbers
def generate_fibonacci(n):

#create a empty list
  fibonacci_no = [0,1]

#start a loop to collect the fibonacci numbers
  for _ in range(2,n):

    next_fibonacci = fibonacci_no[-1] + fibonacci_no[-2]


    fibonacci_no.append(next_fibonacci)


  return fibonacci_no

#apply the function to collect the fibonacci numbers in given range
fb_no = generate_fibonacci(10)

#print the fibonacci numbers in the range
print("the first 10 fibonacci numbers are : ",fb_no)

the first 10 fibonacci numbers are :  [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [18]:
def is_sorted(lst):

  for i in range(len(lst) - 1):

    if lst[i] > lst[i + 1]:

        return False

  return True

list_1 = [1,2,3,4,5,6,7]

list_2 = [4,3,21,67,7,53,1]

print("the list_1 is sorted : ",is_sorted(list_1),"\n")

print("the list_2 is sorted : ",is_sorted(list_2))

the list_1 is sorted :  True

the list_2 is sorted :  False

In [29]:
#create a function to rotate list
def rotate_list(lst,n):

  rotated_list = lst[n:] + lst[:n]

  return rotated_list

#take a list
list_1 = [1,2,3,4,5,6,7]

#take input of postion to be rotated
r_position = int(input("enter the number postions to be rotated : "))

#apply the function on the list
r_list = rotate_list(list_1,r_position)

#print the rotated list
print(f"the list after rotated left by position {r_position} : ",r_list)

enter the number postions to be rotated : 4
the list after rotated left by position 4 :  [5, 6, 7, 1, 2, 3, 4]

In [31]:
#create a function to rotate list
def rotate_list(lst,n):

  rotated_list = lst[-n:] + lst[:-n]

  return rotated_list

#take a list
list_1 = [1,2,3,4,5,6,7]

#take input of postion to be rotated
r_position = int(input("enter the number postions to be rotated : "))

#apply the function on the list
r_list = rotate_list(list_1,r_position)

#print the rotated list
print(f"the list after rotated right by position {r_position} : ",r_list)

enter the number postions to be rotated : 4
the list after rotated right by position 4 :  [4, 5, 6, 7, 1, 2, 3]

In [34]:
#create a function to find prime numbers in range
def is_prime(number):

  if number < 2 :
    return False

  for i in range( 2, int(number ** 0.5) + 1):

    if number % 2 == 0:
      return False

  return True

#take input of starting range
m = int(input("enter the starting range : "))

#take input of ending range
n = int(input("enter the ending range : "))

#apply the function and range to the list
p_no = [num for num in range(m,n) if is_prime(num)]

#print the list of prime numbers in the range
print(f"the prime number in range from {m} to {n} : ",p_no)

enter the starting range : 2
enter the ending range : 50
the prime number in range from 2 to 50 :  [2, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [3]:
#create a function to split the list
def split_ic(lst,n):

#take a empty list
  r_chunks = []

#use range function to collect the chunks of list
  for i in range(0,len(lst),n):

    chunk = lst[ i : i + n ]

    r_chunks.append(chunk)

  return r_chunks

#take a list
list_1 = [1,2,3,4,5,6,7,8,9]

#take a size of chunk as input
chunk_size = int(input("enter the size of chunks of list you need : "))

#apply the function to the list
result_chunks = split_ic(list_1,chunk_size)

#print the chunks of list
print(f"the chunks of list of size '{chunk_size}' : ",result_chunks)

enter the size of chunks of list you need : 3
the chunks of list of size '3' :  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [8]:
#create a function to find second largest number in the list
def sln(lst):

  if len(lst) < 2 :

    return "list has less than 2 elements"

#convert the list into set to remove duplicates from the list
#and reverse the list to find the second largest number
  sorted_uni_no = sorted(set(lst),reverse=True)

  if len(sorted_uni_no) >= 2 :

    return sorted_uni_no[1]

  else :

    return "there is no second largest number in the list "

#take a list
list_1 = [3,4,7,8,9,1,2,6]

#apply the function to the list
second_l_no = sln(list_1)

#print the second largest number in the list
print("the second largest number in the list : ", second_l_no)

the second largest number in the list :  8

In [13]:
#create a function to find the square of elelments in the list
def sq_elements(lst):

  sq_list = [i ** 2 for i in lst]

  return sq_list

#take a list
list_1 = [1, 2 , 3, 4, 5, 6, 7]

#apply the function to list
sq_e = sq_elements(list_1)

#print the squared elements of list
print("the list of squares of elements in the list : ",sq_e)

the list of squares of elements in the list :  [1, 4, 9, 16, 25, 36, 49]

In [14]:
#create a function to convert list to dictonary
def list_to_dict(lst):

#take a empty dictonary
  r_dict = {}

# enumerate the list to find the index of elements
  for index , element in enumerate(lst):

    r_dict[element] = index

  return r_dict

#take a list
list_1 = ["car","bike","motorcycle","cycle","truck"]

#convert the list to dictonary using function
f_dict = list_to_dict(list_1)

#print the dictonary with elements as keys and indexes as values
print("dictonary with elements as keys and index as values : ",f_dict)

dictonary with elements as keys and index as values :  {'car': 0, 'bike': 1, 'motorcycle': 2, 'cycle': 3, 'truck': 4}

In [17]:
# import the module random
import random

# take a list
list_1 = [1,2,3,4,5,6,7]

# shuffle the list randomly
random.shuffle(list_1)

# print the shuffled list
print("the shuffled list : ",list_1)

the shuffled list :  [4, 5, 1, 2, 3, 6, 7]

In [21]:
#create a function to find the factorail of numbers
def factorial(n):

  if n == 0 or n == 1:

    return 1

  else :
    return n * factorial(n -1)

# apply factorial function in the range
facto_no = [factorial(i) for i in range(10)]

#print the list of factorial numbers
print(" the list of first 10 factorial numbers : ",facto_no)

 the list of first factorial numbers :  [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [23]:
#create a function to altest one common element in 2 lists
def c_ele(list_1,list_2):

  return any(element in list_1 for element in list_2)

# take a list
list_a = [1,2,3,4,5]

#take another list
list_b = [5,6,7,8,9]

#take if-else condition to find atleast one element is present in 2 lists
if c_ele(list_a , list_b):
  print("there is atleast one common element in the list ")

else :
  print("there is no common element in the list ")

there is atleast one common element in the list

In [24]:
# take a list
list_1 = [1,2,3,4,5,6,7]

#clear the list
list_1.clear()

#print the cleared list
print("the cleared list : ",list_1)

the cleared list :  []

In [25]:
# take a list
list_1 = [1,-2,-3,4,5,6,-7,-8,-9]

# apply a method the negative numbers with 0
for i in range(len(list_1)):

  if list_1[i] < 0 :
    list_1[i] = 0

#print the modified list
print("the modified list : ",list_1)

the modified list :  [1, 0, 0, 4, 5, 6, 0, 0, 0]

In [26]:
#take a string
String1 = "this is a sample string we have to use"

#convert the string into list of words
w_list = String1.split()

#print the list of words
print("the list of words : ",w_list)

the list of words :  ['this', 'is', 'a', 'sample', 'string', 'we', 'have', 'to', 'use']

In [28]:
#tke a list of words
list_1 = ['this', 'is', 'a', 'sample', 'string', 'we', 'have', 'to', 'use']

#join the words
String1 = ' '.join(list_1)

#print the joined string
print("the string : ",String1)

the string :  this is a sample string we have to use

In [33]:
#create a function to find power of 2 upto n numbers
def po_of_2(n):

  return [ 2 ** i for i in range(n)]

# take the range as input
n = int(input("enter the number : "))

# apply the function
po_list = po_of_2(n)

# print the list of powers of 2's in the range
print(f"the first {n} number of power of 2 : ",po_list)

enter the number : 10
the first 10 number of power of 2 :  [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [34]:
# take a list of strings
list_1 = ['apple', 'banana', 'kiwi', 'strawberry', 'orange']

l_str = max(list_1,key=len)

# print the longest string
print("the longest string : ",l_str)

the longest string :  strawberry

In [35]:
# take a list of strings
list_1 = ['apple', 'banana', 'kiwi', 'strawberry', 'orange']

l_str = min(list_1,key=len)

# print the shortest string
print("the shortest string : ",l_str)

the shortest string :  kiwi

In [38]:
#create a function to find triangular numbers
def tri_no(n):
  return [ (i * (i+1)) // 2 for i in range(1 , n + 1)]

# take the range as input
n  = int(input("enter the number : "))

tri_list = tri_no(n)

# print the list of tringular numbers
print(f" the first {n} tringular numbers : ",tri_list)

enter the number : 7
 the first 7 tringular numbers :  [1, 3, 6, 10, 15, 21, 28]

In [39]:
#create a function
def is_subsequence(sublist,mainlist):

  it = iter(mainlist)

  return all(element in it for element in sublist)

# take a mainlist
mainlist = [1,2,3,4,5,6,7,8,9]

# take a sublist
sublist = [2,6,9]

result = is_subsequence(sublist,mainlist)

#print the result
print(" the main list contains another sublist as a subsequence : ",result)

 the main list contains another sublist as a subsequence :  True

In [44]:
#create a function
def swap_ele_indices(my_list, index1, index2):

    # Check if indices are within the bounds of the list
    if 0 <= index1 < len(my_list) and 0 <= index2 < len(my_list):

        # Swap elements using a temporary variable
        my_list[index1], my_list[index2] = my_list[index2], my_list[index1]

    else:
        print("Invalid indices. Cannot swap elements.")


list_1 = [1, 2, 3, 4, 5,6,7]

m = int(input("enter the index 1 : "))

n = int(input("enter the index 2 : "))

# Swap elements at indices 1 and 3
swap_ele_indices(list_1, m, n)

# Print the modified list
print("List after swapping elements:", list_1)

enter the index 1 : 2
enter the index 2 : 3
List after swapping elements: [1, 2, 4, 3, 5, 6, 7]