Set Programs

In [2]:
#take a set
set1 = { 1,2,3,4,5}

#print the set
print(" the set : ",set1)

 the set :  {1, 2, 3, 4, 5}

In [3]:
#take a set
set1 = { 1,2,3,4,5}

# add an element to list
set1.add(6)

# print the modified list
print(" the modified set : ",set1)

 the modified set :  {1, 2, 3, 4, 5, 6}

In [4]:
#take a set
set1 = { 1,2,3,4,5}

# delete an element to list
set1.remove(5)

# print the modified list
print(" the modified set : ",set1)

 the modified set :  {1, 2, 3, 4}

In [5]:
#take a set
set1 = { 1,2,3,4,5}

#element to check
ele_check = 4

if ele_check in set1 :

  print(" the element is present in list")

else :

  print(" the element is not present in list")

 the element is present in list

In [6]:
#take a set
set1 = { 1,2,3,4,5}

#count the length of set
set_len = 0

for _ in set1 :

  set_len += 1

print(" the length of set is : ",set_len)

 the length of set is :  5

In [7]:
#take a set
set1 = { 1,2,3,4,5}

#clear the set
set1.clear()

# print the cleared set
print(" the cleared set : ",set1)

 the cleared set :  set()

In [11]:
# take a set and find the even numbers in range
set1 = {x for x in range(1,11) if x % 2 == 0}

# print the set containing even numbers
print("the set containing even numbers : ",set1)

the set containing even numbers :  {2, 4, 6, 8, 10}

In [12]:
# take a set and find the odd numbers in range
set1 = {x for x in range(1,10) if x % 2 != 0}

# print the set containing odd numbers
print("the set containing odd numbers : ",set1)

the set containing odd numbers :  {1, 3, 5, 7, 9}

In [13]:
# take 2 sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

#union the both sets
u_set = set1.union(set2)

#print the union set
print(" the union set : ",u_set)

 the union set :  {1, 2, 3, 4, 5, 6, 7}

In [14]:
# take 2 sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

#find the intersection of the both sets
in_set = set1.intersection(set2)

#print the intersection set
print(" the intersection set : ",in_set)

 the intersection set :  {3, 4, 5}

In [16]:
# take 2 sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

#difference between the both sets
u_set = set1.difference(set2)

#print the diffrence between the set
print(" the difference between the set : ",u_set)

 the difference between the set :  {1, 2}

In [17]:
#take 2 sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5}

#check if set2 is subset of set1
result = set2.issubset(set1)

#print result
print(" the set2 is subset of set1 : ",result)

 the set2 is subset of set1 :  True

In [19]:
#take 2 sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5}

#check if set1 is superset of set2
result = set1.issuperset(set2)

#print result
print(" the set1 is superset of set2 : ",result)

 the set1 is superset of set2 :  True

In [20]:
#take a list
list1 = [1,2,3,4,5,6,7]

#convert a list to a set
set1 = set(list1)

#print set
print(" the set : ",set1)

 the set :  {1, 2, 3, 4, 5, 6, 7}

In [21]:
#take a set
set1 = {1,2,3,4,5,6,7}

#covert set to list
list1 = list(set1)

#print the list
print(" the list : ",list1)

 the list :  [1, 2, 3, 4, 5, 6, 7]

In [23]:
#take a set
set1 = {1,2,3,4,5,6,7}

#remove an element from the set
r_ele = set1.pop()

#print the modified list
print(" the set after removing a random element : ",set1)

 the set after removing a random element :  {2, 3, 4, 5, 6, 7}

In [25]:
#take a list
set1 = {1,2,3,4,5,6,7}

#remove an element from the set
r_ele = set1.pop()

#print the modified list
print(" the set after removing a random element : ",set1)

 the set after removing a random element :  {2, 3, 4, 5, 6, 7}

In [26]:
#take 2 sets
set1 = { 1 , 2 , 3 }
set2 = { 4 , 5 , 6 }

#check if sets have common elements
result = set1.isdisjoint(set2)

#print result
if result:
  print("the sets have no common element")

else:
  print("the sets have  common elements")

the sets have no common element

In [28]:
# take 2 sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

#find the symmmetric diffrence
sym_set = set1.symmetric_difference(set2)

print(" the symmetric difference between set1 and set2 : ",sym_set)

 the symmetric difference between set1 and set2 :  {1, 2, 6, 7}

In [29]:
# take 2 sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

#find the symmmetric diffrence
set1.update(set2)

print(" the updated set: ",set1)

 the updated set:  {1, 2, 3, 4, 5, 6, 7}

In [32]:
#create a function to find prime numbers
def is_prime(n):

    primes = set()

    num = 2

    while len(primes) < n:

        for i in range(2, int(num ** 0.5) + 1):

            if num % i == 0:
                break

        else:
            primes.add(num)
        num += 1

    return primes

prime_set = is_prime(5)

#print the first 5 prime numbers
print("The first 5 prime numbers:", prime_set)

The first 5 prime numbers: {2, 3, 5, 7, 11}

In [33]:
# take 2 sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

if set1 == set2 :

  print(" the sets are identical")

else:

  print(" the sets are not identical")

 the sets are not identical

In [34]:
# take a sets
set1 = {1, 2, 3, 4, 5}

f_set = frozenset(set1)

#print the frozen set
print(" the frozen set : ",f_set)

 the frozen set :  frozenset({1, 2, 3, 4, 5})

In [35]:
#take 2 sets
set1 = { 1 , 2 , 3 }
set2 = { 4 , 5 , 6 }

#check if sets are disjoint
result = set1.isdisjoint(set2)

if result :

  print(" the sets are disjoint")

else:

  print(" the sets are not disjoint")

 the sets are disjoint

In [37]:
#square the set
sq_set = { x**2 for x in range(1,6)}

#print the squared set
print(" the squared set : ",sq_set)

 the squared set :  {1, 4, 9, 16, 25}

In [1]:
#take a set
set1 = {1,2,3,4,5,6,7}

#filter the even numbers
odd_set = { num for num in set1 if num % 2 == 0}

#print the filtered set
print(" the odd numbers set : ",odd_set)

 the odd numbers set :  {2, 4, 6}

In [3]:
#take a set
set1 = {1,2,3,4,5,6,7}

#multiply all elements of set by 2
mul_set = { num*2 for num in set1}

#print the set
print(" the set after multiplying by 2 : ",mul_set)

 the set after multiplying by 2 :  {2, 4, 6, 8, 10, 12, 14}

In [4]:
#import random module
import random

#create a set of random mumber
r_set = { random.randint(1,50) for _ in range(5)}

#print the set
print(" the random set : ",r_set)

 the random set :  {1, 3, 37, 43, 46}

In [5]:
#take a set
set1 = {1,2,3,4,5,6,7}

#check if the set is empty or not
if len(set1) == 0 :

  print(" the set is empty")

else :

  print(" the set is not empty")

 the set is not empty

In [21]:
# Creating sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Creating a nested set using frozenset
n_set = frozenset([frozenset(set1), frozenset(set2)])


# Print the nested set
print(" the nested set:", n_set)

 the nested set: frozenset({frozenset({1, 2, 3}), frozenset({4, 5, 6})})

In [22]:
#take a set
set1 = {1,2,3,4,5,6,7}

#discard the element
set1.discard(4)

#print the modified set
print(" the modified set : ",set1)

 the modified set :  {1, 2, 3, 5, 6, 7}

In [23]:
#take 2 sets
set1 = {1, 2, 3}
set2 = {3, 2, 1}

#compare the sets
if set1 == set2:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are equal.

In [24]:
#take a string
string1 = "Hello"

set1 = set(string1)

print(" the set : ",set1)

 the set :  {'l', 'o', 'e', 'H'}

In [25]:
#take a set
set1 = {"1", "2", "3", "4", "5"}

#convert the strings into integers
int_set = { int(s) for s in set1}

#print the set
print("the integer set : ",int_set)

the integer set :  {1, 2, 3, 4, 5}

In [26]:
#take a set
set1 = {1, 2, 3, 4, 5}

#convert the  integers into strings
str_set = { str(s) for s in set1}

#print the set
print("the integer set : ",str_set)

the integer set :  {'4', '3', '5', '2', '1'}

In [27]:
#take a tuple
tuple1 = (1, 2, 3, 4, 5)

#conert the tuple into set
set1 = set(tuple1)

#print the set
print(" the set : ",set1)

 the set :  {1, 2, 3, 4, 5}

In [29]:
#take a set
set1 = {1, 2, 3, 4, 5}

#conert  set into tuple
tuple1 = tuple(set1)

#print the set
print(" the tuple : ",tuple1)

 the tuple :  (1, 2, 3, 4, 5)

In [30]:
#take a set
set1 = {1, 2, 3, 4, 5}

#find the max value
max_value = max(set1)

#print the max value
print(" the max value in set : ",max_value)

 the max value in set :  5

In [31]:
#take a set
set1 = {1, 2, 3, 4, 5}

#find the minimum value
min_value = min(set1)

#print the max value
print(" the minimum value in set : ",min_value)

 the minimum value in set :  1

In [32]:
#take a set as a input
set1 = set(input("enter the set : "))

#print the set
print(" the set : ",set1)

enter the set : 1234567
 the set :  {'4', '3', '5', '2', '6', '1', '7'}

In [35]:
#take 2 sets
set1 = { 1 , 2 , 3 }
set2 = { 4 , 5, 6  }

#check if sets have intersection
result = set1.isdisjoint(set2)

if not result :

  print(" the sets have no common elements")

else:

  print(" the sets have common elements")

 the sets have common elements

In [39]:
# Function to generate the Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1

    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b

    return fibonacci_set

# Create a set of the first 5 Fibonacci numbers
first_five_fibonacci = generate_fibonacci(5)

print("Set of the first 5 Fibonacci numbers:", first_five_fibonacci)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

In [40]:
#take a list
list1 = [1, 2, 3, 1, 2, 4, 5]

#remove the duplicates
list2 = list(set(list1))

#print the list
print(" the list : ",list2)

 the list :  [1, 2, 3, 4, 5]

In [41]:
#take 2 sets
set1 = {1, 2, 3, 4}
set2 = {4, 3, 2, 1}

#check if the sets have same elements
if set1 == set2:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [44]:
#create a function to find power of 2 for n numbers
def po_2(n):

  return { 2 **i for i in range(n)}

set1 = po_2(5)

#print the set
print(" the set : ",set1)

 the set :  {1, 2, 4, 8, 16}

In [45]:
#take 2 sets
set1 = {1, 2, 3, 4}
set2 = {4, 3, 2, 1}

c_ele = set1.intersection(set2)

#print the set
print(" there are common elements in sets : ",c_ele)

 there are common elements in sets :  {1, 2, 3, 4}

In [46]:
# Function to generate the first n triangular numbers
def tr_n(n):
    return {(i * (i + 1)) // 2 for i in range(1, n + 1)}

# Create a set of the first 5 triangular numbers
tri_no= tr_n(5)

print("Set of the first 5 triangular numbers:",tri_no)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

In [47]:
#take 2 sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

if set2.issubset(set1):
  print(" the set2 is subset of set1")

else:
  print(" the set2 is not subset of set1")

 the set2 is subset of set1

In [53]:
alt_list = [i % 2 for i in range(6)]
a_set = set(alt_list)

print("Set of alternating 1s and 0s:", a_set)

Set of alternating 1s and 0s: {0, 1}

In [54]:
#take 3 sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# merge the 3 sets
m_set = set1.union(set2,set3)

#print the merged set
print(" the merged set : ",m_set)

 the merged set :  {1, 2, 3, 4, 5, 6, 7}