Tuple Programs

In [2]:
#take a tuple
tuple_1= (1,2,3,4,5)

#print the tuple
print("the tuple from 1 to 5 :",tuple_1)

the tuple from 1 to 5 : (1, 2, 3, 4, 5)

In [5]:
#take a tuple
tuple_1= (1,2,3,4,5)

#print the third element in tuple
print("the third element in tuple : ",tuple_1[2])

the third element in tuple :  3

In [6]:
#take a tuple
tuple_1= (1,2,3,4,5)

# intiate the count of length of tuple
count = 0

for element in tuple_1:
  count = count + 1

#print the length of tuple
print("the length of tuple is : ",count)

the length of tuple is :  5

In [8]:
#take a tuple
tuple_1= (1,2,3,4,5,2,3,4,6,7,8,9,2,4,3,5,6)

# the element to count
e_count = int(input("enter the number : "))

occurence = tuple_1.count(e_count)

#print the occurence of element
print(f"the element {e_count} is occured in tuple : ",occurence ," times")

enter the number : 2
the element 2 is occured in tuple :  3  times

In [9]:
#take a tuple
tuple_1= (1,2,3,4,5,2,3,4,6,7,8,9,2,4,3,5,6)

# the element of index to find
f_count = int(input("enter the number : "))

f_index = tuple_1.index(f_count)

#print the indes of element
print(f"the index of element {f_count} is : ",f_index)

enter the number : 9
the index of element 9 is :  11

In [12]:
#take a tuple
tuple_1= (1,2,3,4,5,2,3,4,6,7,8,9,2,4,3,5,6)

# take input element to check
ele_c = int(input("enter the number : "))

if ele_c in tuple_1 :
  print(f"\n {ele_c} exists in tuple ")

else:
  print(f"\n{ele_c} not exists in tuple")

enter the number : 4

 4 exists in tuple

In [13]:
#take a tuple
tuple_1= (1,2,3,4,5,2,3,4,6,7,8,9,2,4,3,5,6)

# convert tuple to list
list_1 = list(tuple_1)

#print the list
print("the list : ",list_1)

the list :  [1, 2, 3, 4, 5, 2, 3, 4, 6, 7, 8, 9, 2, 4, 3, 5, 6]

In [14]:
#take a list
list_1 =  [1, 2, 3, 4, 5, 2, 3, 4, 6, 7, 8, 9, 2, 4, 3, 5, 6]

#convert list to tuple
tuple_1 = tuple(list_1)

#print the tuple
print("the tuple : ",tuple_1)

the tuple :  (1, 2, 3, 4, 5, 2, 3, 4, 6, 7, 8, 9, 2, 4, 3, 5, 6)

In [15]:
#take a tuple
tuple_1= (1,2,3,4,5)

# unpack the elements
var1,var2,var3,var4,var5 = tuple_1

# print the varaibles
print("variable 1 : ",var1)
print("variable 2 : ",var2)
print("variable 3 : ",var3)
print("variable 4 : ",var4)
print("variable 5 : ",var5)

variable 1 :  1
variable 2 :  2
variable 3 :  3
variable 4 :  4
variable 5 :  5

In [17]:
#create a function that finds even numbers in range
def even_no(start,end):

  even_numbers = tuple(x for x in range(start , end + 1) if x % 2 == 0)

  return even_numbers

#specify the range
e_no = even_no(2,10)

#print the even numbers
print("even numbers from 1 to 10 : ",e_no)

even numbers from 1 to 10 :  (2, 4, 6, 8, 10)

In [18]:
#create a function that finds odd numbers in range
def odd_no(start,end):

  odd_numbers = tuple(x for x in range(start , end + 1) if x % 2 != 0)

  return odd_numbers

#specify the range
o_no = odd_no(1,10)

#print the odd numbers
print("even numbers from 1 to 10 : ",o_no)

even numbers from 1 to 10 :  (1, 3, 5, 7, 9)

In [19]:
# take 2 tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

#concatenation
conc_tuple = tuple1 + tuple2

#print the concatenated tuple
print("the concatenated tuple : ",conc_tuple)

the concatenated tuple :  (1, 2, 3, 4, 5, 6)

In [20]:
#take a tuple
tuple_1= (1,2,3,4,5)

# repeat the tuple 3 times
r_tuple = tuple_1 * 3

#print the repeated tuple
print("the repeated tuple : ",r_tuple)

the repeated tuple :  (1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
#take a tuple
tuple1 = (1,2,3,4,5)

if len(tuple1) == 0 :
  print("the tuple is empty")

else :
  print("the tuple is not empty")

In [21]:
#take a tuple
tuple1 = (1,2,3,'a','b','c')

#nest the tuple
n_tuple = (tuple1[:3],tuple1[3:])

#print the nested tuple
print("the nested tuple : ",n_tuple)

the nested tuple :  ((1, 2, 3), ('a', 'b', 'c'))

In [26]:
# take a nested tuple
tuple1 = (((1, 2), 3), ('a', 'b', 'c'))

# find the 1st element
f_ele = tuple_1[0]

#print the 1st element
print("the 1st element in nested loop : ",f_ele)

the 1st element in nested loop :  1

In [27]:
tuple1 = (21,)

print("single element tuple : ",tuple1)

single element tuple :  (21,)

In [28]:
#take 2 tuples
tuple1 = (1,2,3)
tuple2 = (1,2,6)

#check the tuples are equal or not
if tuple1 == tuple2 :

  print("the tuples are equal")

else :

  print("the tuples are not equal")

the tuples are not equal

In [30]:
#take a tuple
tuple1 = (1,2,3,'a','b','c')

del tuple1

print(tuple1)

NameError: ignored

In [31]:
#take a tuple
tuple1 = (1,2,3,4,5,6,7,8,9)

s_tuple = tuple1[2:6]

print("the sliced tuple : ",s_tuple)

the sliced tuple :  (3, 4, 5, 6)

In [32]:
#take a tuple
tuple1 = (32,45,67,12,34,78,9,61)

#find the maximum value
max_value = max(tuple1)

#print the maximum value
print("the maximum value in the tuple : ",max_value)

the maximum value in the tuple :  78

In [33]:
#take a tuple
tuple1 = (32,45,67,12,34,78,9,61)

#find the minimum value
min_value = min(tuple1)

#print the maximum value
print("the minimum value in the tuple : ",min_value)

the minimum value in the tuple :  9

In [34]:
#take a string
String_1 = "Hello"

#convert the string into list of characters for tuple
tuple1 = tuple(String_1)

# print the list of character for tuple
print(" the tuple of characters : ",tuple1)

 the tuple of characters :  ('H', 'e', 'l', 'l', 'o')

In [35]:
#take a tuple
tuple1 = ("hello",",","nice","to","meet","you")

#join the tuple of characters
string_1 = ' '.join(tuple1)

#print the string
print("the string : ",string_1)

the string :  hello , nice to meet you

In [36]:
#take a tuple
tuple1 = (1, 'hello', 3.14, True, [1, 2, 3])

#print the tuple
print("the multiple datatype tuple : ",tuple1)

the multiple datatype tuple :  (1, 'hello', 3.14, True, [1, 2, 3])

In [1]:
#take a tuple
tuple1 = (1,2,3,4,5,6,7,8,9)

#take a tuple
tuple2 = (1,2,3,4,5,6,7,8,9)

if tuple1 == tuple2 :
  print("the tuples are identical")

else :
  print("the tuples are not identical")

the tuples are identical

In [2]:
#take a tuple
tuple1 = (6,2,4,8,9,1,3,4)

s_tuple = tuple(sorted(tuple1))

print("the sorted tuple : ",s_tuple)

the sorted tuple :  (1, 2, 3, 4, 4, 6, 8, 9)

In [3]:
#take a tuple
tuple1 = (6,2,4,8,9,1,3,4)

# convert the integers into list of strings
tuple2 = tuple(map(str , tuple1))

#print the list of strings
print("the tuple of strings : ",tuple2)

the tuple of strings :  ('6', '2', '4', '8', '9', '1', '3', '4')

In [4]:
#take a tuple
tuple1 =  ('6', '2', '4', '8', '9', '1', '3', '4')

#convert the list of strings to integers
tuple2 = tuple(map(int,tuple1))

#print the list of integers
print("the tuple of integers : ",tuple2)

the tuple of integers :  (6, 2, 4, 8, 9, 1, 3, 4)

In [5]:
# take 2 tuples
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

# Merge two tuples
m_tuple = tuple1 + tuple2

#print the merged tuple
print("Merged Tuple:", m_tuple)

Merged Tuple: (1, 2, 3, 'a', 'b', 'c')

In [6]:
# take a tuple
tuple1 = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# take a empty list
flat_list = []

# find the subtuples in tuple
for subtuple in tuple1:

# find items in the subtuples
  for item in subtuple:

    flat_list.append(item)

flat_tuple = tuple(flat_list)

#print the flattened nested tuple
print(" the flattened nested tuple : ",flat_tuple)

 the flattened nested tuple :  (1, 2, 3, 'a', 'b', 'c', True, False)

In [7]:
# create a function to find the prime numbers
def is_prime(num):

  if num < 2 :

    return False

  for i in range(2, int(num** 0.5) + 1):

    if num % 2 == 0:
      return False

  return True

# take a input for range
n = int(input("enter a number : "))

p_tuple = tuple(num for num in range(2,n) if is_prime(num))

# print the prime numbers
print("the first 5 prime numbers : ",p_tuple)

enter a number : 20
the first 5 prime numbers :  (2, 3, 5, 7, 9, 11, 13, 15, 17, 19)

In [8]:
# create a function to check if the tuple is palindrome or not
def is_p(tuple1):

  return tuple1 == tuple1[::-1]

# take a tuple
tuple1 = (1,2,3,4,3,2,1)

result = is_p(tuple1)

# print the result
print(" the tuple is palindrome :",result)

 the tuple is palindrome : True

In [9]:
# find the squared numbers in range
sq_tuple = tuple(x**2 for x in range(1,6))

# print the squared number of tuples
print(" the tuple of squared numbers from 1 to 5 : ",sq_tuple)

 the tuple of squared numbers from 1 to 5 :  (1, 4, 9, 16, 25)

In [10]:
# take a tuple
tuple1 = (1,2,3,4,5,6,7,8,9,10)

fe_tuple = tuple(x for x in tuple1 if x % 2 != 0)

# print the filtered list
print(" the tuple of odd numbers : ",fe_tuple)

 the tuple of odd numbers :  (1, 3, 5, 7, 9)

In [11]:
# take a tuple
tuple1 = (1,2,3,4,5,6,7,8,9,10)

m_tuple = tuple(x * 2 for x in tuple1)

# print the multiplied tuple
print(" the multiplied tuple by 2 : ",m_tuple)

 the multiplied tuple by 2 :  (2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [12]:
import random

r_tuple = tuple(random.randint(1,100) for _ in range(5))

#print the list of random numbers
print(" random tuple : ",r_tuple)

 random tuple :  (42, 48, 88, 28, 80)

In [13]:
# take a tuple
tuple1 = (1,2,3,4,5,6,7,8,9,10)

tuple2 = tuple(set(tuple1))
if tuple1 == tuple2 :
  print(" the tuple is sorted")

else:
  print(" the tuple is not sorted")

 the tuple is sorted

In [16]:
#create a function to rotate the elements
def r_left(tuple1,n):

  n = n % len(tuple1)

  ro_tuple = tuple1[n:] + tuple1[:n]

  return ro_tuple

# take a tuple
tuple1 = (1,2,3,4,5,6,7,8,9)

rl_tuple = r_left(tuple1,3)

# print the rotated tuple
print("the rotated tuple : ",rl_tuple)

the rotated tuple :  (4, 5, 6, 7, 8, 9, 1, 2, 3)

In [18]:
#create a function to rotate the elements
def r_left(tuple1,n):

  n = n % len(tuple1)

  ro_tuple = tuple1[-n:] + tuple1[:-n]

  return ro_tuple

# take a tuple
tuple1 = (1,2,3,4,5,6,7,8,9)

rl_tuple = r_left(tuple1,3)

# print the rotated tuple
print("the rotated tuple : ",rl_tuple)

the rotated tuple :  (7, 8, 9, 1, 2, 3, 4, 5, 6)

In [23]:
# create a function to find fibonacci numbers
def fibo_no(n):

    fibo_sq = [0, 1]

    while len(fibo_sq) < n:

        nxt_fibo = fibo_sq[-1] + fibo_sq[-2]

        fibo_sq.append(nxt_fibo)

    return tuple(fibo_sq)

fibo_tuple = fibo_no(5)

# print the fibonacci numbers
print("The first 5 Fibonacci numbers:", fibo_tuple)

The first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

In [25]:
# take a tuple as input
tuple1 = tuple(input("enter the tuple :"))

#print the tuple
print("the tuple : ",tuple1)

enter the tuple :123456789
the tuple :  ('1', '2', '3', '4', '5', '6', '7', '8', '9')

In [26]:
# create a function to swap elements
def swap_e( tuple1 , index1 , index2 ):

  tuple_m = list(tuple1)

  tuple_m[index1], tuple_m[index2] = tuple_m[index2],tuple_m[index1]

  tuple_s = tuple(tuple_m)

  return tuple_s

#take a tuple
tuple1 = (1,2,3,4,5,6,7)

swp_tuple = swap_e(tuple1,1,4)

# print the tuple after swapping
print(" the tuple after awapping : ",swp_tuple)

 the tuple after awapping :  (1, 5, 3, 4, 2, 6, 7)

In [27]:
#take a tuple
tuple1 = (1,2,3,4,5,6,7)

r_tuple = tuple1[::-1]

#print the reversed tuple
print(" the reversed tuple : ",r_tuple)

 the reversed tuple :  (7, 6, 5, 4, 3, 2, 1)

In [31]:
n = 8

p_tuple = tuple(x**2 for x in range(1,n))

#print the tuple
print("the tuple of 'n' power of 2 : ",p_tuple)

the tuple of 'n' power of 2 :  (1, 4, 9, 16, 25, 36, 49)

In [32]:
#take a tuple
tuple1 = ('apple', 'banana', 'kiwi', 'strawberry', 'orange')

l_string = max(tuple1,key=len)

#print the longest string
print(" the longest string in tuple : ",l_string)

 the longest string in tuple :  strawberry

In [33]:
#take a tuple
tuple1 = ('apple', 'banana', 'kiwi', 'strawberry', 'orange')

s_string = min(tuple1,key=len)

#print the shortest string
print(" the shortest string in tuple : ",s_string)

 the shortest string in tuple :  kiwi

In [35]:
# create a function to find the triangular numbers
def tri_no(n):

    tri_tuple = tuple((i * (i + 1)) // 2 for i in range(n))

    return tri_tuple

n = 5
t_tuple = tri_no(n)

#print the tuple
print(f"Tuple of the first {n} triangular numbers:", t_tuple)

Tuple of the first 5 triangular numbers: (0, 1, 3, 6, 10)

In [36]:
def is_subsequence(sub, main):

    # Find the index of the first element of sub in main
    try:
        start_index = main.index(sub[0])

    except ValueError:

        return False

    # Check if the subsequence is present in main
    return main[start_index:start_index + len(sub)] == sub

# take main and sub tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
sub_tuple = (3, 4, 5)

# Check if sub_tuple is a subsequence of main_tuple
result = is_subsequence(sub_tuple, main_tuple)

#print the result
print(" the tuple is subsequence:", result)

 the tuple is subsequence: True

In [38]:
#create a function
def alt_ones_zeros(n):

    altr_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))

    return altr_tuple

n = 8

a_tuple = alt_ones_zeros(n)

print(f"the tuple of alternating 1s and 0s of length {n}:", a_tuple)

the tuple of alternating 1s and 0s of length 8: (1, 0, 1, 0, 1, 0, 1, 0)